body {
  margin: 0;
  width: 100%;
}
#contactUs-container {
  background-image: linear-gradient(#79797a, #525253);
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
}

.contactUs-content {
  height: auto;
  padding: 25px 0% 0% 100px;
}

.contactUs-title {
  font-size: 4vw;
  text-shadow: -3px 0px #000000;
  padding: 5% 0% 0% 5%;
  color: #e1c5a0;
}

.contactUs-title > span {
  color: #e5e5e5;
}

.contactUs-text {
  color: #e1c5a0;
  font-size: 2vw;
  margin: 5% 0%;
  text-shadow: -0.1em 0em #000000;
}
span.email {
  color: #e5e5e5;
  font-size: 2vw;
}

img {
  float: left;
  width: 2%;
  border: 1px transparent;
  border-radius: 4px;
  padding: 6px 20px 0px 0px;
}

a {
  text-decoration: none;
}

@media only screen and (max-width: 800px) {
  #contactUs-container {
    height: auto;
  }

  .contactUs-content {
    height: auto;
    padding: 5% 0% 0% 5%;
  }

  .contactUs-title {
    font-size: 3em;
  }

  img {
    width: 1.5em;
    padding: 0% 5% 0% 0%;
  }

  span.email {
    font-size: 1em;
  }

  .contactUs-text {
    font-size: 1.5em;
    margin: 5% 0%;
  }
}
