body {
  margin: 0;
  width: 100%;
  font-family: "Montserrat";
  height: 100%;
}

#home-container {
  background-image: url("../assets/home/home-background-edited.jpg");
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100vh;
}

.navbar {
  background-color: #e1c5a0;
  width: 100%;
  height: auto;
  position: fixed;
}

.navbar ul {
  list-style-type: none;
  text-align: right;
  /* margin: 0px 10px; */
}

.navbar li {
  display: inline-block;
  padding: 14px 0px 14px 30px;
  font-weight: bold;
  font-size: 1em;
}

.navbar li a {
  cursor: pointer;
  color: #e5e5e5;
}

.navbar li a:hover {
  color: #b48e5b;
}

.navbar li .order-button {
  padding: 14px;
  border-radius: 5px 0px 0px 5px;
  background-color: #b48e5b;
  color: #e5e5e5;
}

.navbar li .order-button:hover {
  cursor: pointer;
  background-color: #af7223;
  color: #e5e5e5;
}

.home-content {
  height: 90%;
  margin: 10% 0% 0% 5%;
}

.home-title {
  font-size: 10vw;
  color: #e1c5a0;
}

.home-text {
  font-size: 3vw;
  color: #e5e5e5;
}

#about-container {
  background-image: url("../assets/about/about-us-background-edited.jpg");
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100vh;
}

.about-content {
  height: auto;
  margin: 5% 0% 0% 5%;
}

.head-title {
  font-size: 4vw;
  text-shadow: -5px 2px #000000;
  color: #e1c5a0;
}

.head-title > span {
  color: #e5e5e5;
}

.about-text {
  font-size: 2vw;
  color: #e5e5e5;
  text-shadow: -1px 2px #000000;
  height: auto;
  margin-top: 20vh;
  padding: 0% 30% 0% 0%;
}

.vision-mission-flex-container {
  display: flex;
  justify-content: left;
  margin: 10% 0% 5% 5%;
}

.vision-mission-box {
  width: 100%;
  height: auto;
  margin: 0% 10% 0% 0%;
}

.vision-mission-box > a {
  text-shadow: -1px 2px #000000;
  color: #e1c5a0;
}

.vision-mission-box > a:hover {
  cursor: pointer;
  color: #b48e5b;
}
