* {
  margin: 0;
  padding: 0;
}

.title {
  font-size: 4vw;
  text-shadow: -5px 2px #000000;
  color: #e1c5a0;
  padding: 5% 0% 0% 5%;
}

#order-container {
  background-image: linear-gradient(#79797a, #525253);
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100vh;
}

footer {
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.copyright {
  color: #e5e5e5;
  font-size: 16px;
}

.form {
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 30% 70%;
  margin: 2% 0% 0% 5%;
}

.text {
  color: #e5e5e5;
  font-size: 24px;
  line-height: 50px;
}

.input {
  margin: 10px 50px;
}

.input input,
.input textarea {
  font-size: 16px;
  line-height: 24px;
  padding: 0 5px;
  width: 450px;
}

.input textarea {
  max-height: 320px;
  max-width: 600px;
}

.button input[type="submit"] {
  font-size: 24px;
  padding: 10px 24px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin: 20px auto;
  color: #e5e5e5;
  background: rgb(92, 91, 91);
  border: solid white 1px;
  border-radius: 5px;
}

.button input[type="submit"] :hover {
  cursor: pointer;
  background: rgb(70, 69, 69);
}

@media screen and (max-width: 800px) {
  .title {
    font-size: 3em;
    text-shadow: -2px 2px #000000;
    padding-top: 15%;
  }

  .form {
    margin: 0 auto;
    display: block;
    grid-template-columns: 50% 50%;
  }

  .text {
    margin-left: 5%;
  }

  .input {
    margin: 10px 20px;
  }

  .input input,
  .input textarea {
    width: 300px;
    margin: 0px 0px 25px 0px;
  }

  .input textarea {
    max-height: 200px;
    max-width: 300px;
  }
}
